<div ng-repeat="data in pageData | filter: { pageTitle: 'Blog' }" class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">{{data.pageTitle}}</h2>
    </div>
    <div class="panel-body">{{data.pageDiscirption}}</div>
</div>

<button class="btn btn-default bottom_space" ng-click="isCollapsed = !isCollapsed">Show/Hide Posts</button>

<ul class="list-group" collapse="isCollapsed">
    <li ng-repeat="post in posts" class="list-group-item">
        <h6>
            <a ng-href="#/blog/post/{{post.postId}}">{{post.postTitle}}</a>
        </h6>
        <p>{{post.postDiscirption | limitTo : 50 }}...<p/>
        <a ng-href="#/blog/category/{{post.category}}">
            <strong>{{post.category}}</strong>
        </a>
    </li>
</ul>